@font-face {
    font-family: 'lobster';
    src: url('../assets/fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/lobster-regular-webfont.woff') format('woff'),
         url('../assets/fonts/Lobster-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}