@import 'vars';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'animations';
@import 'responsive';

footer {


    p {
        font-size: 1.2rem;
        text-align: justify;
        width: 95%;
    }

    .container {
        @include containerItems;
    }
}