// telas reais: ipad, desktop, smartphone
@media only screen and (max-width: 426px) and (min-width: 300px) {
    body {
        font-size: 1.6rem;
    }

    .container, .logo {
        width: 100%!important;
    }

    .menu, .banner {
        display: none;
    }

    .menuMobile.abrir {
        visibility: visible;
        height: calc(100vh - 77px);
    }
}

// Mobile S
@media screen and (max-width: 374px) {
    header, #produto, #como-funciona {
        width: 100vw;
    }

    header {
        .container {
            width: 98vw;

            .logo img {
                width: 50px;
                height: auto;
            }
        }
    }

    .menuMobile {
        top: 54px;
    }

    #btn-menu {
        width: 25px;
        height: 25px;
        border-radius: 6px;
    }

    .linha {
        height: 2px;
        width: 15px;
        margin: 2px -3px;
    }

    #btn-menu.ativo .linha:nth-child(1) {
        transform: translateY(5px) rotate(-45deg);
    }

    #btn-menu.ativo .linha:nth-child(3) {
        transform: translateY(-3px) rotate(45deg);
    }

    #sobre {
        margin: 85px 12px 24px 12px;
        padding: 40px;
        
        p {
            font-weight: 600;
        }
    }

    footer {
        display: contents;

        p {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}

// Mobile M/L
@media only screen and (max-width: 426px) and (min-width: 375px) {
    #produto, #como-funciona {
        width: 100vw;
    }

    #btn-menu {
        margin-right: 12px;
    }

    #sobre {
        margin: 120px 20px 24px 20px;
        padding: 40px;
        
        p {
            font-weight: 600;
        }
    }

    footer {
        display: contents;

        p {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}

// TABLET
@media only screen and (min-width: 427px) {
    #produto .container {
        width: 100%!important;
    }
}

@media only screen and (min-width: 427px) {
    #btn-menu, .menuMobile {
        display: none;
    }
}

// tela para impressão de arquivo
@media print {

}