@import 'vars';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'animations';
@import 'responsive';

#sobre {
    background-color: $colorBgSobre;
    max-width: 95vw;
    margin-left: 2rem;
    margin-top: 7rem;

    .container {
        h1 {
            text-align: left;
            margin-left: 2rem;
        }

        p {
            margin-left: 2rem;
            color: $colorDefaultW;
        }
    }
}