@import 'vars';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'animations';
@import 'responsive';
#como-funciona {
    background: #dbd2e6;
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        text-align: center;
        
        h3, span {
            color: $colorDefaultB;
        }

        &--image {
            width: 10rem;
            height: auto;
        }
    }
}