@import 'vars';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'animations';
@import 'responsive';
#como-funciona {
    background: #dbd2e6;

    .container {
        @include containerItems;
    }
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        text-align: center;
        
        h3, span {
            color: $colorDefaultB;

            @media (max-width: 426px) {
                font-size: 1rem;
            }
        }

        &--image {
            width: 10rem;
            height: auto;

            @media (max-width: 426px) {
                width: 5rem;
                height: auto;
            }
        }
    }

    @media (max-width: 767px) {
        width: auto;
        display: flex;
    }

    @media (max-width: 426px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
}