$colorBody: #592396;
$colorBorder: #33D;
$colorFont: #fff;
$colorBackBox: #FD3;
$colorBackDefault: #33f;
$fontDefault: Arial, Helvetica, sans-serif;
$colorBgSobre: #471b79;
$colorDefaultB: #000;
$colorDefaultW: #FFF;
$color: #7509f1;
$fontSize: 1.6rem;
$colorTitle: #DA70D6;