$colorBorder: #33D;
$colorFont: #fff;
$colorBackBox: #FD3;
$colorBackDefault: #33f;
$fontDefault: Arial, Helvetica, sans-serif;
$colorDefaultBody: #aefce8;
$colorDefaultB: #000;
$colorDefaultW: #FFF;
$color: #0bf0b7;
$fontSize: 1.6rem;