@import 'vars';

html {
    font-size: 62.5%;
}

body {
    background-color: $colorDefaultBody;
    font-family: $fontDefault;
    margin: 0;
}

header, section, footer {
    display: block;
    float: left;
    width: 100%;
}

h1 {
    color: $colorDefaultB;
    text-align: center;
}

h2 {
    margin-top: 4rem;
    color: $colorDefaultB;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
        margin-left: 5rem;
    }
}


.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}

#sobre {
    background-color: $colorDefaultW;
    margin-top: 7rem;
}

#produto {
    margin-top: 7rem;
}

#contato {
    margin-top: 7rem;
    display: grid;
}

footer {
    display: flex;
    margin-top: 10rem;
}

@import 'vitrine';

/*
.box {
    // animation-name: slideIn;
    // animation-duration: 3s;
    // animation-iteration-count: 2;
    // animation-direction: alternate;
}

@keyframes slideIn {
    from {
        left: -999px;
        opacity: .1;
        background-color: red;
        height: 0;
    }

    to {
        left: 0;
        opacity: 1;
        background-color: rgb(186, 186, 224);
        height: fit-content;
    }
    
}*/