@import 'vars';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'animations';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $colorBody;
    font-family: $fontDefault;
    margin: 0;
}

/*section {
    display: block;
    float: left;
}*/

h1 {
    color: $colorDefaultB;
    text-align: center;
    font-family: 'lobster', sans-serif;
    color: $colorTitle;
    text-shadow: 2px 4px 8px #2D114D;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    width: 95%;
}

h2 {
    margin-top: 4rem;
    color: $colorDefaultB;
    margin-left: 10px;
}

@import 'header';
@import 'banner';
@import 'sobre';
@import 'vitrine';
@import 'steps';
@import 'footer';
@import 'responsive';
